<!DOCTYPE html>
<!-- 1.命名空间 (非常重要)-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

</head>
<body>
	<h1>
		
		欢迎<span  style="color: red">[[${session.USERS.userName}]]</span>用户登陆成功
	</h1>
	<table border="1" width="500">
		<thead>
			<tr style="background-color: #EFEFEF">
				<th>序号</th>
				<th>消息主题</th>
				<th>发布者</th>
				<th>发布时间</th>
				<th>状态</th>
				<th>图像</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody th:remove="${PAGE_INFO.list.size()==0?'none':'all-but-first'}">
			<!-- temp,iter:${#numbers.sequence(2,50,1)} 固定 -->
			<tr th:each="temp,iter:${PAGE_INFO.list}">
				<td th:text="${iter.count}"></td>
				<td th:text="${temp.mtitle}">静态系统消息1</td>
				<td th:text="${temp.muser}">test</td>
				<td th:text="${#dates.format(temp.mdate,'yyyy-MM-dd')}">2000-12-13</td>
				<td>
					<div th:switch="${temp.mstate}">
						<span th:case="0" style="color:green">未读</span>
						<span th:case="1" style="color:red">已读</span>
						<span th:case="*" style="color:green">未读</span>
					</div>
				</td>
				<td><img width="50" height="50" th:src="|/images/${temp.mimg}|" /></td>
				<!-- 1.|/c/message/del1?mid=${temp.mid}|  【推荐】-->
				<td><a  th:href="@{/c/message/del1(mid=${temp.mid})}">移除1</a>&nbsp;<a th:onclick="fnDel([[${temp.mid}]])" href="javascript:void(0)">移除2</a></td>
			</tr>
			<tr>
				<th colspan="7" style="color:red">没有找到数据！</th>
			</tr>
			<!-- <tr>
				<td>1</td>
				<td>静态系统消息1</td>
				<td>test</td>
				<td>2000-12-13</td>
				<td>未读</td>
				<td><img width="50" height="50" src="../../images/feng.jpg" /></td>
				<td><a  href="javascript:void(0)">移除1</a>&nbsp;<a href="javascript:void(0)">移除2</a></td>
			</tr>
			<tr>
				<td>2</td>
				<td>静态系统消息2</td>
				<td>admin</td>
				<td>2010-10-13</td>
				<td>已读</td>
				<td><img width="50" height="50" src="../../images/feng.jpg" /></td>
				<td><a th:onclick="" href="javascript:void(0)">移除1</a>&nbsp;<a href="javascript:void(0)">移除2</a></td>
			</tr>
			<tr>
				<td>3</td>
				<td>静态系统消息3</td>
				<td>sa</td>
				<td>1990-12-13</td>
				<td>未读</td>
				<td><img width="50" height="50" src="../../images/feng.jpg" /></td>
				<td><a href="javascript:void(0)">移除1</a>&nbsp;<a href="javascript:void(0)">移除2</a></td>
			</tr>
			<tr>
				<td>4</td>
				<td>静态系统消息4</td>
				<td>system</td>
				<td>1991-11-11</td>
				<td>未读</td>
				<td><img width="50" height="50" src="../../images/feng.jpg" /></td>
				<td><a href="javascript:void(0)">移除1</a>&nbsp;<a href="javascript:void(0)">移除2</a></td>
			</tr> -->
		</tbody>
	</table>
</body>
<script type="text/javascript" src="../../js/jquery-1.12.4.js"></script>

<script type="text/javascript" th:inline="javascript">
	function fnDel(id){
		//ajax
		if(window.confirm('是否移除?')){
			$.getJSON("/c/message/del2/"+id,function(json){
				alert(json.code);
			});
		}
	}
</script>

</html>
